<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>重置密码</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{{resoucePath}}/libs/bootstrap/css/bootstrap.min.css">

  <script src="{{resoucePath}}/libs/sweetalert2/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="{{resoucePath}}/libs/sweetalert2/dist/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <style>
    .login-page,
    .register-page {
      background: #d2d6de;
    }

    body {
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      overflow-x: hidden;
      overflow-y: auto;
    }

    html,
    body {
      height: 100%;
    }

    .login-box {
      width: 80%;
      position: absolute;
      margin: 7% auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .login-logo {
      font-size: 25px;
      text-align: center;
      margin-bottom: 25px;
      font-weight: 300;
    }

    .login-box-body {
      background: #fff;
      padding: 20px;
      border-top: 0;
      color: #666;
    }

    .login-box-msg {
      margin: 0;
      text-align: center;
      padding: 0 20px 20px 20px;
    }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="{{resoucePath}}/libs/html5shiv.min.js"></script>
    <script src="{{resoucePath}}/libs/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
          <div class="login-logo">
      <b><a href="#" target="_blank">重置密码</a></b>
    </div>
      <span id="alertstring" style="color:red"></span>
      <form onsubmit="return false;">
        <input id="stringtoken" type="hidden" value="{{stringtoken}}">
        <div class="form-group has-feedback">
          <input id="password" type="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span id="passstrength"></span>
        </div>
        <div class="form-group has-feedback">
          <input id="password2" type="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8"></div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button id="submit" type="submit" disabled class="btn btn-primary btn-block btn-flat">修改</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      {{!--<a href="#" class="text-center">忘记密码</a>--}}
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 2.2.3 -->
  <script src="{{resoucePath}}/libs/jQuery/jquery-2.2.3.min.js"></script>
  
  <script>
    
    $("form").on("submit", function () {
      var password = $("#password").val();
      var password2 = $("#password2").val();
      var stringtoken = $("#stringtoken").val();
      var args = {
        password: password,
        password2: password2,
        stringtoken: stringtoken
      };
      if (password != password2) {
        $('#alertstring').html('输入的两次密码不一致');
        return false;
      }

      $.post('/api/user/updatePasswordByStringtoken', args, function (response) {
        if (!response || !response.status) return;

        if (response.status.code == 0) {
          $("#submit").attr('disabled', true);
          swal(
            '修改完成',
            '',
            'success'
          )
        } else {
          swal(
            response.status.msg,
            '',
            'error'
          )
        }
      })
    });

    $('#password').keyup(function (e) {
      var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
      var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
      var enoughRegex = new RegExp("(?=.{6,}).*", "g");
      if (false == enoughRegex.test($(this).val())) {
        $('#passstrength').html('More Characters');
        $("#submit").attr('disabled', true);
      } else if (strongRegex.test($(this).val())) {
        $('#passstrength').className = 'ok';
        $('#passstrength').html('强');
        $("#submit").attr('disabled', false);
      } else if (mediumRegex.test($(this).val())) {
        $('#passstrength').className = 'alert';
        $('#passstrength').html('中');
        $("#submit").attr('disabled', false);
      } else {
        $('#passstrength').className = 'error';
        $('#passstrength').html('弱');
        $("#submit").attr('disabled', false);
      }

      return true;
    });
  </script>
</body>

</html>